azuread_groups = {
  level0 = {
    name = "level0"
    members = {
      object_ids                     = []
      azuread_service_principal_keys = ["level0"]
    }
    owners                 =  ["{{ ignite.global.azuread_groups.owners | join('\",\"') }}"]
    prevent_duplicate_name = true
  }
  identity = {
    name = "identity"
    members = {
      azuread_service_principal_keys = ["identity"]
    }
    owners                 =  ["{{ ignite.global.azuread_groups.owners | join('\",\"') }}"]
    prevent_duplicate_name = true
  } 
}