storage_accounts = {
  level0 = {
    name                            = "l0"
    resource_group_key              = "level0"
    account_kind                    = "BlobStorage"
    account_tier                    = "Standard"
    shared_access_key_enabled       = false
    account_replication_type        = "GRS"
    public_network_access_enabled   = true
    allow_nested_items_to_be_public = false
    blob_properties = {
      versioning_enabled       = true
      last_access_time_enabled = true
      container_delete_retention_policy = {
        days = 7
      }
      delete_retention_policy = {
        days = 7
      }
    }
    network = {
      default_action = "Deny"
      bypass         = ["Logging", "Metrics", "AzureServices"]
      ip_rules       = ["{{ ignite.global.ip_whitelist }}"]      
    }
    containers = {
      tfstate = {
        name = "tfstate"
      }
    }    
    tags = {
      caf_environment = "{{ ignite.global.caf_environment }}"
      caf_launchpad   = "launchpad"
      caf_tfstate     = "level0"
    }
  }
  level1 = {
    name                            = "l1"
    resource_group_key              = "level1"
    account_kind                    = "BlobStorage"
    account_tier                    = "Standard"
    shared_access_key_enabled       = false
    account_replication_type        = "GRS"
    public_network_access_enabled   = true
    allow_nested_items_to_be_public = false
    blob_properties = {
      versioning_enabled       = true
      last_access_time_enabled = true
      container_delete_retention_policy = {
        days = 7
      }
      delete_retention_policy = {
        days = 7
      }
    }
    network = {
      default_action = "Deny"
      bypass         = ["Logging", "Metrics", "AzureServices"]
      ip_rules       = ["{{ ignite.global.ip_whitelist }}"]      
    }
    containers = {
      tfstate = {
        name = "tfstate"
      }
    }    
    tags = {
      caf_environment = "{{ ignite.global.caf_environment }}"
      caf_launchpad   = "launchpad"
      caf_tfstate     = "level1"
    }
  }
  level2 = {
    name                            = "l2"
    resource_group_key              = "level2"
    account_kind                    = "BlobStorage"
    account_tier                    = "Standard"
    shared_access_key_enabled       = false
    account_replication_type        = "GRS"
    public_network_access_enabled   = true
    allow_nested_items_to_be_public = false
    blob_properties = {
      versioning_enabled       = true
      last_access_time_enabled = true
      container_delete_retention_policy = {
        days = 7
      }
      delete_retention_policy = {
        days = 7
      }
    }
    network = {
      default_action = "Deny"
      bypass         = ["Logging", "Metrics", "AzureServices"]
      ip_rules       = ["{{ ignite.global.ip_whitelist }}"]      
    }
    containers = {
      tfstate = {
        name = "tfstate"
      }
    }    
    tags = {
      caf_environment = "{{ ignite.global.caf_environment }}"
      caf_launchpad   = "launchpad"
      caf_tfstate     = "level2"
    }
  }
  level3 = {
    name                            = "l3"
    resource_group_key              = "level3"
    account_kind                    = "BlobStorage"
    account_tier                    = "Standard"
    shared_access_key_enabled       = false
    account_replication_type        = "GRS"
    public_network_access_enabled   = true
    allow_nested_items_to_be_public = false
    blob_properties = {
      versioning_enabled       = true
      last_access_time_enabled = true
      container_delete_retention_policy = {
        days = 7
      }
      delete_retention_policy = {
        days = 7
      }
    }
    network = {
      default_action = "Deny"
      bypass         = ["Logging", "Metrics", "AzureServices"]
      ip_rules       = ["{{ ignite.global.ip_whitelist }}"]      
    }
    containers = {
      tfstate = {
        name = "tfstate"
      }
    }    
    tags = {
      caf_environment = "{{ ignite.global.caf_environment }}"
      caf_launchpad   = "launchpad"
      caf_tfstate     = "level3"
    }
  }
  level4 = {
    name                            = "l4"
    resource_group_key              = "level4"
    account_kind                    = "BlobStorage"
    account_tier                    = "Standard"
    shared_access_key_enabled       = false
    account_replication_type        = "GRS"
    public_network_access_enabled   = true
    allow_nested_items_to_be_public = false
    blob_properties = {
      versioning_enabled       = true
      last_access_time_enabled = true
      container_delete_retention_policy = {
        days = 7
      }
      delete_retention_policy = {
        days = 7
      }
    }
    network = {
      default_action = "Deny"
      bypass         = ["Logging", "Metrics", "AzureServices"]
      ip_rules       = ["{{ ignite.global.ip_whitelist }}"]      
    }    
    tags = {
      caf_environment = "{{ ignite.global.caf_environment }}"
      caf_launchpad   = "launchpad"
      caf_tfstate     = "level4"
    }
  }
}
