keyvaults = {
  "cred_level0" = {
    name                     = "idl0"
    resource_group_key       = "sp_credentials"
    sku_name                 = "standard"
    purge_protection_enabled = true
    tags = {
      caf_environment      = "{{ ignite.global.caf_environment }}"
      caf_identity_aad_key = "cred_level0"
    }
    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "launchpad"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "launchpad"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      level0 = {
        lz_key             = "launchpad"
        azuread_group_key  = "level0"
        secret_permissions = ["Get"]
      }
    }
    network = {
      public_network_access_enabled = true
      default_action                = "Deny"
      bypass                        = "AzureServices"
      ip_rules                      = ["{{ ignite.global.ip_whitelist_with_mask_32 | join('\",\"') }}"]      
    }    
  }
  "cred_identity" = {
    name                     = "id"
    resource_group_key       = "sp_credentials"
    sku_name                 = "standard"
    purge_protection_enabled = true
    tags = {
      caf_environment      = "{{ ignite.global.caf_environment }}"
      caf_identity_aad_key = "cred_identity"
    }
    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "launchpad"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "launchpad"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
    }
    network = {
      public_network_access_enabled = true
      default_action                = "Deny"
      bypass                        = "AzureServices"
      ip_rules                      = ["{{ ignite.global.ip_whitelist_with_mask_32 | join('\",\"') }}"]      
    }    
  }
}
